.root-layout {
  min-height: 100vh !important;
}

.root-content {
  background: #fff;
  margin: 16px auto;
  max-width: 1024px;
  padding: 16px;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.note-content {
  background: #fff;
  padding-left: 16px;

  display: flex;
  flex-direction: column;

  > * {
    margin: 8px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
